.options {
    background-color: aquamarine;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

.options:hover {
    background-color: rgb(51, 204, 184);
    color: white;
}